html,body {
	margin: 10px;
}

#game_canvas {
	width: 770px;
	margin: 0 auto;
	background: navy;
	border: 15px navy solid;
	-webkit-border-radius: 60px;
	-webkit-box-shadow: 0 0 4px black;
}

.cell.yellow .inner {
	background: yellow;
}
.cell.red .inner {
	background: red;
}

.cell {
	float: left;
	height: 100px;
	padding: 5px;
}

.cell .inner {
	width:100px;
	height:100px;
	background: #BFDFED;
	-webkit-border-radius:50px;
	-moz-border-radius:50px;
	cursor: pointer;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}