html,body {
	margin: 10px;
}

#game_container {
	width: 800px;
	margin: 0 auto;
}

#game_canvas {
	background: navy;
	border: 15px navy solid;
	-webkit-border-radius: 60px;
	-webkit-box-shadow: 0 0 4px black;
}

.cell.yellow .inner,
.player_name.yellow
{
	background: yellow;
}
.cell.red .inner,
.player_name.red
{
	background: red;
}

.cell {
	float: left;
	height: 100px;
	padding: 5px;
}

.cell .inner {
	width:100px;
	height:100px;
	background: #BFDFED;
	-webkit-border-radius:50px;
	-moz-border-radius:50px;
	cursor: pointer;
}

#game_info {
	font-size:32px;
	font-weight: bold;
	font-family: helvetica;
	letter-spacing:-1;
	color:#ccc;
	padding:10px 50px;
	line-height: 100%;
}

.player_name {
	padding:0 10px;
	color:white;
	text-transform: uppercase;
	-webkit-border-radius: 16px;
}

.move_info {
	float: right;
}

.move_nr {
	color: #666;
}

.win_message {
	display: inline;
}

.win_message.hidden {
	display: none;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}